<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>18.14_过滤器</title>
  <style>
    * {
      font-family: sans-serif, 'Microsoft YaHei';
      color: #111;
    }

    .active {
      background: tomato;
    }

    .liked {
      background: tomato;
    }
  </style>
</head>

<body>
  <div id="app">
    <div>
      <input v-model="length"> mm
      <br>
      {{length | meter}}
    </div>
    <hr>
    <div>
      <input v-model="price">
      {{price | currency('￥')}}
    </div>
  </div>

  <script src="../lib/vue.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>