form,
table {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

form input,
form button[type=submit],
form textarea{
  width: 100%;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td:last-of-type,
th:last-of-type {
  text-align: right;
}