/* ====== global ======= */

* {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft Yahei", sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #00b86b;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-1 {
    width: 4.166666666666666%;
}

.col-2 {
    width: 8.333333333333333%;
}

.col-3 {
    width: 12.5%;
}

.col-4 {
    width: 16.666666666666666%;
}

.col-5 {
    width: 20.833333333333332%;
}

.col-6 {
    width: 25%;
}

.col-7 {
    width: 29.166666666666666%;
}

.col-8 {
    width: 33.333333333333333%;
}

.col-9 {
    width: 37.5%;
}

.col-10 {
    width: 41.666666666666666%;
}

.col-11 {
    width: 45.833333333333333%;
}

.col-12 {
    width: 50%;
}

.col-13 {
    width: 54.166666666666666%;
}

.col-14 {
    width: 58.333333333333333%;
}

.col-15 {
    width: 62.5%;
}

.col-16 {
    width: 66.66666666666667%;
}

.col-17 {
    width: 70.83333333333333%;
}

.col-18 {
    width: 75%;
}

.col-19 {
    width: 79.16666666666666%;
}

.col-20 {
    width: 83.33333333333333%;
}

.col-21 {
    width: 87.5%;
}

.col-22 {
    width: 91.66666666666666%;
}

.col-23 {
    width: 95.83333333333333%;
}

.col-24 {
    width: 100%;
}

/* ====== nav ====== */

.nav {
    /* background: #ccc; */
    padding-top: 30px;
}

.nav .nav-right {
    text-align: right;
}

.nav .logo {
    /* background: #666; */
    display: inline-block;
    width: 110px;
    height: 55px;
    margin-left: 40px;
    background-image: url(./lianjia-sprite.png);
    background-position: -16px -375px;
}

.nav .locale {
    padding-left: 10px;
}

.nav .location {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 50px;
    height: 23px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 16px 0;
    border-radius: 12px;
    padding-top: 3px;
}

.nav .nav-right {
    /* background: #666; */
    padding: 8px 0;
}

.nav .nav-right a {
    color: #fff;
}

.nav .nav-right a:hover {
    color: #00ae66;
}

.nav .auth {
    font-size: 12px;
    color: #fff;
    padding-bottom: 5px;
}

.nav .auth i {
    font-size: 14px;
    padding-right: 5px;
}

.nav .nav-cat a {
    padding-left: 14px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.slogan .main-slogan {
    /* background: #666; */
    width: 540px;
    height: 70px;
    margin: 120px auto 0 auto;
    background-image: url(./banner-text.png);
    background-position: 0 0;
}

.slogan .info {
    /* background: #888; */
    font-size: 18px;
    margin: 15px auto 40px auto;
    color: #fff;
    text-align: center;
}

.search {
    /* background: #666; */
    width: 80%;
    height: 140px;
    margin: 0 auto;
    color: #fff;
}

.search-cat a {
    font-size: 12px;
    padding: 10px 10px 15px 0;
    display: inline-block;
    font-weight: bold;
}

.search-bar button,
.search-bar input {
    float: right;
    height: 45px;
    border: none;

}

.search-bar input {
    width: 85%;
    border-radius: 2px 0 0 2px;
    outline: none;
    padding-left: 10px;
}

.search-bar input:focus {
    border: 1px solid #00ae66;
}

.search-bar button {
    width: 15%;
    color: #fff;
    background: #00ae66;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    border-radius: 0 2px 2px 0;
}

::-webkit-input-placeholder {
    font-family: "Microsoft Yahei";
    opacity: .8;
    font-size: 12px;
}

.statement {
    color: #eee;
    padding: 100px 0px 40px 40px;
    font-size: 12px;
}

.statement .col {
    padding-right: 20px;
}

.header {
    background-image: url(./banner-header.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

/* ====== main ====== */

.service {
    text-align: center;
    padding: 40px 0;
}

.service .title {
    font-size: 18px;
    padding-top: 20px;
}

.service .desc {
    font-size: 12px;
    color: #aaa;
    padding-top: 8px;
}

.service img {
    width: 25%;
}

.app-prom {
    background: #888;
    color: #333;
    padding: 30px 0;
    background-image: url(./bg-app.jpg);
    padding-left: 40px;
}

.app-prom .up-title {
    font-size: 45px;
    font-weight: thin;
}

.app-prom .bot-title {
    font-size: 70px;
}

.app-prom .desc {
    padding: 20px 0 30px 0;
}

.app-prom button {
    background: #00b55b;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 2px;
}

.app-prom button:hover {
    cursor: pointer;
}

.app-prom .d-btn {
    margin-right: 10px;
}

.app-prom .android {
    margin-top: 10px;
}

.app-prom img {
    height: 110px;
}

.recom {
    padding-left: 30px;
    padding-top: 50px;
}

.recom .title {
    color: #333;
    padding-left: 10px;
}

.recom .b-title,
.recom .r-title {
    font-size: 30px;
}

.recom .b-title {
    font-weight: bold;
}

.recom .b-desc {
    color: #888;
    padding: 5px 10px 30px 10px;
}

.recom .more {
    text-align: right;
}

.card-block {
    padding-bottom: 40px;
}

.card-block .card-box {
    padding: 0 10px;
}

.card-block .card {
    background: #fff;
    box-shadow: 1px 1px 5px #bbb;
    position: relative;
}

.card-block .c-title,
.card-block .desc {
    padding-left: 20px;
}

.card-block .c-title {
    padding-bottom: 10px;
}

.card-block .desc {
    font-size: 12px;
    padding-bottom: 10px;
    color: #888;
}

.card-block .tag {
    font-size: 12px;
    padding-top: 15px;
    color: #888;
}

.card-block span {
    background: #394043;
    color: #fff;
    position: absolute;
    top: 140px;
    left: 0;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
    padding: 4px 10px 6px 10px;
}

.card-block img {
    width: 100%;
}

.promise {
    color: #fff;
    background-image: url(./promise.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 40px;
}

.promise .up-title {
    font-weight: bold;
    font-size: 45px;
}

.promise .bot-title {
    font-size: 45px;
}

.promise .guarantee {
    font-size: 14px;
}

.promise input,
.promise button {
    float: right;
    height: 35px;
    background: #fff;
    border: 1px solid #aaa;
}

.promise input {
    border-right: none;
    width: 90%;
    padding-left: 10px;
    outline: none;
}

.promise button {
    border-left: none;
    color: #aaa;
    width: 10%;
    text-align: center;
}

.promise .p-search {
    padding-right: 10px;
}

.promise .g-1 {
    padding: 8px 0;
}

.promise .g-2 {
    padding-bottom: 20px;
}

.dim {
    background: #eee;
}

/* ====== footer ====== */

.footer {
    background-image: url(./footer-bg.jpg);
    color: #fff;
    font-size: 12px;
    padding-left: 40px;
}

.footer .reg-link a {
    padding: 25px 10px 20px 0;
    display: inline-block;
}

.footer .reg-link .tel {
    text-align: right;
    color: #02a161;
    padding: 25px 10px 20px 0;
}

.footer .reg-link {
    border-bottom: 1px solid #555;
}

.footer .cat-link {
    padding-top: 10px;
}

.footer .up-link a {
    display: inline-block;
    background: #121212;
    padding: 5px 8px;
    color: #666;
    margin-right: 5px;
    margin-bottom: 150px;
}

.footer .web-info {
    font-size: 12px;
    color: #666;
    padding: 20px 0 100px 0;
    border-top: 1px solid #555;
}

.footer .end {
    padding-top: 5px;
    
}




