<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>18.6</title>
  <style>
    * {
      font-family: sans-serif, 'Microsoft YaHei';
    }

    .active {
      background: tomato;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- <label>
      男
      <input v-model="sex" value="male" type="checkbox">
    </label>
    <label>
      女
      <input v-model="sex" value="female" type="checkbox">
    </label>
    {{sex}} -->

    <!-- <textarea v-model="article"></textarea>
    {{article}} -->
    <div>你来自哪里？</div>
    <select v-model="from">
      <option value="1">wangjiagou</option>
      <option value="2">jiagou</option>
    </select>
    {{from}}
    <div>你要去哪儿？</div>
    <select v-model="dest" multiple>
      <option value="1">wangjiagou</option>
      <option value="2">jiagou</option>
      <option value="3">jiago</option>
      <option value="4">jiag</option>
      <option value="5">jia</option>
    </select>
    {{dest}}

  </div>



  <script src="../lib/vue.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>