:root {
  background: #eee;
  font-family: sans-serif, 'Microsoft YaHei';
}

input,
button,
.todo-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: inherit;
}

#todo-form,
.todo-item {
  margin-bottom: .5rem;
}

.todo-item {
  background: #fff;
  font-size: 0;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.todo-item>* {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  padding: .5em;
}

.todo-item>.checkbox {
  width: 10%;
}

.todo-item>.title {
  width: 60%;
}

.todo-item>.operations {
  width: 30%;
  text-align: right;
}