<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>yo</title>
  <style>
    * {
      font-family: sans-serif, 'Microsoft YaHei';
    }

    h2 {
      color: #0059e8;
    }

    h3 {
      margin: .5em auto;
    }
  </style>
</head>

<body>
  <ul id="app1">
    <li v-for="(item, index) in items" :key="index">
      {{ item.message}}

    </li>
  </ul>

  <div id="app2">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="4wo" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>

  <div id="app3">
    <yourtag myprops="look" a1="at"></yourtag>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('yourtag', {
      props: ['myprops', 'a1'],
      template: '<h2>{{myprops + a1}}</h2>'
    })

    var transProps = new Vue({
      el: '#app3',
    })


    var yo = new Vue({
      el: '#app1',
      data: {
        items: [{
            message: 'Foo'
          },
          {
            message: 'Bar'
          },
        ]
      }
    })

    var radio = new Vue({
      el: '#app2',
      data: {
        picked: '',
      }
    })
  </script>
</body>

</html>