form input,
form button[type=submit],
form textarea{
  width: 100%;
}

form button {
  padding: 5px;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td:last-of-type,
th:last-of-type {
  text-align: right;
}