* {
  box-sizing: border-box;
  font-family: 'Microsoft YaHei UI';
}

body {
  background: #e2e2e2;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
