.nav {
  background: #fff;
  height: 50px;
}

.main {
  margin-top: .5em;
}

.timeline {
  background: #fff;
  padding: .5em;
}

.timeline-item {
  padding: .5em 0;
  border-bottom: 1px solid #aaa;
}

.timeline .timeline-item .decs {
  padding-left: 1em;
}

.card {
  padding-left: .5em;
}

.card-item {
  background: #fff;
  padding: .5em;
}

.card-item .cat a {
  display: block;
  padding: .3em 0 .3em 2em;
}

.card-item .cat a:hover {
  background: #bbb;
}