* {
    box-sizing: border-box;
}

:root {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 5px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.f-right {
    float: right;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.input-field {
    margin-top: 20px;
}

.input-field input[type=text],
.input-field button {
    width: 100%;
    padding: 10px;
}

.input-field button {
    background: #292525;
    color: #fff;
    border: none;
    padding: 12px 0;
}

.list-error {
    margin-bottom: 10px;
}

.error {
    color: #d7191a;
    margin: 4px 0;
}