* {
    box-sizing: border-box;
}

.row::before,
.row::after {
    content: '';
    clear: both;
    display: block;
}

.col {
    width: 25%;
    float: left;
    padding: 5px;
}

.card {
    background: #aaa;
}