.col-30 {
    width: 100%;
}

.col-29 {
    width: 96.6666666666666%;
}

.col-28 {
    width: 93.3333333333333%;
}

.col-27 {
    width: 90%;
}

.col-26 {
    width: 86.6666666666666%;
}

.col-25 {
    width: 83.3333333333333%;
}

.col-24 {
    width: 80%;
}

.col-23 {
    width: 76.6666666666666%;
}

.col-22 {
    width: 73.3333333333333%;
}

.col-21 {
    width: 70%;
}

.col-20 {
    width: 66.66666666666666%;
}

.col-19 {
    width: 63.33333333333333%;
}

.col-18 {
    width: 60%;
}

.col-17 {
    width: 56.66666666666666%;
}

.col-16 {
    width: 53.33333333333333%;
}

.col-15 {
    width: 50%;
}

.col-14 {
    width: 46.66666666666666%;
}

.col-13 {
    width: 43.33333333333333%;
}

.col-12 {
    width: 40%;
}

.col-11 {
    width: 36.66666666666666%;
}

.col-10 {
    width: 33.33333333333333%;
}

.col-9 {
    width: 30%;
}

.col-8 {
    width: 26.66666666666666%;
}

.col-7 {
    width: 23.33333333333333%;
}

.col-6 {
    width: 20%;
}

.col-5 {
    width: 16.66666666666666%;
}

.col-4 {
    width: 13.33333333333333%;
}

.col-3 {
    width: 10%;
}

.col-2 {
    width: 6.66666666666666%;
}

.col-1 {
    width: 3.3333333333333%;
}

.col {
    float: left;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

