<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue_Start</title>
  <style>
    * {
      font-family: sans-serif, 'Microsoft YaHei';
    }

    h2 {
      color: #0059e8;
    }

    h3 {
      margin: .5em auto;
    }
  </style>
</head>

<body>
  <h2>Declarative Render</h2>

  <h3>1. Text interpolation</h3>
  <div id="app">
    {{message}}
  </div>

  <h3>2. Bind el attributes</h3>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my denamically bund title!
    </span>
  </div>

  <h2>Conditionals and Loops</h2>

  <h3>v-if</h3>
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>

  <h3>v-for</h3>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <h2>Handling User Input</h2>

  <h3>v-on</h3>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <h3>v-model</h3>
  <div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">
  </div>

  <h2>Composing with Components</h2>

  <div id="app-7">
    <ol>
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })
    
    var app7 = new Vue({
      el: '#app-7',
      data: {
        groceryList: [{
            id: 0,
            text: 'Vegetables'
          },
          {
            id: 1,
            text: 'Cheese'
          },
          {
            id: 2,
            text: 'What else humans are supposed to eat'
          },
        ]
      }
    })

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    })

    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage() {
          this.message = this.message.split('').reverse().join('');
        }
      },
    })

    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [{
            text: 'Learn Javascript'
          },
          {
            text: 'Learn Vue'
          },
          {
            text: 'Build something awesome'
          },
        ]
      }
    })

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })

    let app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString(),
      }
    })

    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true,
      }
    })
  </script>
</body>

</html>