/* ====== universal ====== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: #fafbfc;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

button:hover {
    cursor: pointer;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tal {
    text-align-last: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

/* ====== header ====== */

.nav-global {
    background: #292525;
    height: 60px;
    color: #fff;
}

.nav-global > .wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-global #logo a {
    background-image: url(./img/logo.png);
    width: 108px;
    height: 38px;
    background-size: contain;
    display: inline-block;
    margin: 11px 0;
}

.nav-global .auth a {
    line-height: 60px;
    padding: 0 10px;
    color: #999;
}

.nav-page {
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.nav-page > .wrapper {
    display: flex;
}

.nav-page .wrapper a {
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-left: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.nav-page .wrapper a:hover {
    color: #d7191a;
}

.nav-page .wrapper a:last-child {
    border-right: 1px solid #ccc;
}

.header-banner,
.header-banner .r-part .row {
    display: flex;
}

.header-banner {
    margin: 0 10px;
    margin-top: 45px;
}

.header-banner > .col {
    flex-grow: 1;
    flex-shrink: 1;
}

.header-banner .l-part {
    padding-right: 5px;
    flex-grow: 1;
}

.header-banner .r-part .row a {
    display: inline-block;
    flex-grow: 1;
}

.header-banner .r-part .top {
    margin-bottom: 5px;
}

.header-banner .r-part .top a:first-child {
    padding-right: 5px;
}

.header-banner .r-part .bot a:first-child {
    padding-right: 5px;
}

/* ====== main ====== */

.main {
    color: #333;
}

.main .wrapper {
    display: flex;
    padding-top: 45px;
}

.main .wrapper > .col {
    flex-grow: 1;
    flex-basis: 0%;
}

.main .wrapper .article-area {
    flex-grow: 2;
    margin-right: 20px;
}

.article-card,
.load-more {
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #ddd;
    margin-bottom: 20px;
    transition: all .3s;
}

.article-card:hover,
.load-more:hover {
    border-color: #bbb;
    transition: all .3s;
}

.load-more:hover {
    color: #d7191a;
}

.load-more {
    text-align: center;
    color: #333;
    font-size: 18px;
}

.article-card .head {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
}

.article-card .head .avatar {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.article-card .head .writer-time {
    font-size: 12px;
    margin-left: 10px;
}

.article-card .head .writer-time .name {
    height: 20px;
    line-height: 20px;
}

.article-card .head .writer-time .time {
    height: 20px;
    vertical-align: bottom;
    display: table-cell;
    color: #999;
}

.article-card .head .option {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 40px;
    font-size: 18px;
    color: #bbb;
}

.article-card .article-cover {
    margin-bottom: 25px;
    position: relative;
}

.article-card .article-cover .cover-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.article-card .article-cover .cover-mask:hover {
    background: rgba(0, 0, 0, .3);
    transition: all .2s ease-in-out;
}


.article-card .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.article-card .title a:hover {
    color: #d7191a;
}

.article-card .like-commit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    color: #aaa;
    font-weight: 100;
}

.article-card .like-commit .like {
    margin-right: 20px;
}

.theme-area .theme-card {
    position: relative;
}

.theme-card .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.theme-card .mask:hover {
    background: rgba(0, 0, 0, .75);
    transition: all .5s;
}

.theme-card .mask .title {
    font-size: 20px;
    margin-bottom: 10px;
}

.theme-card .mask span {
    border: 1px solid #fff;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 20px;
    transition: all .2s;
}

.theme-card .mask span:hover {
    color: #333;
    background: #fff;
    transition: all .2s;
}

/* ====== footer ====== */

.footer {
    background: #fff;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .contact-way {
    margin-bottom: 50px;
}

.footer .contact-way a {
    display: inline-block;
    background: #777;
    color: #fff;
    height: 36px;
    width: 36px;
    font-size: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin: 0 20px;
}

.footer .contact-way .mail {
    background: #1c8ce9;
}

.footer .contact-way .mail:hover {
    background: #42a1f0;
}

.footer .contact-way .weibo {
    background: #e25550;
}

.footer .contact-way .weibo:hover {
    background: #e26763;
}

.footer .contact-way .wechat {
    background: #42bd41;
}

.footer .contact-way .wechat:hover {
    background: #79df79;
}

.footer .contact-way .twitter {
    background: #2ba3ef;
}

.footer .contact-way .twitter:hover {
    background: #74c2f3;
}

.footer .contact-way .rss {
    background: #fca429;
}

.footer .contact-way .rss:hover {
    background: #fdb044;
}

.footer .web-link {
    margin-bottom: 20px;
}

.footer .web-link a {
    font-size: 14px;
    margin: 0 50px;
}

.footer .web-link a:hover {
    color: #d7191a;
}

.footer .web-info {
    font-size: 12px;
    color: #999;
    vertical-align: baseline;
    display: table-cell;
    display: block;
}









